<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.role.dao.RoleDao">
  <resultMap id="BaseResultMap" type="com.baidu.base.domain.RoleInfo" >
    <constructor >
      <idArg column="role_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="RoleMap" type="com.baidu.base.domain.RoleInfo">
    <id column="role_id" property="roleId"/>
    <result column="name" property="name"/>
  </resultMap>
  <resultMap id="ModuleMap" type="com.baidu.base.domain.ModuleInfo">
    <id column="module_id" property="moduleId"/>
    <result column="name" property="name"/>
  </resultMap>
  <resultMap id="RoleModuleMap" type="com.baidu.base.domain.RoleModule">
    <result column="role_id" property="roleId"/>
    <result column="module_id" property="moduleId"/>
  </resultMap>
  <sql id="Base_Column_List" >
    role_id, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from role_info
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role_info
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.baidu.base.domain.RoleInfo" >
    insert into role_info (role_id, name)
    values (#{roleId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.baidu.base.domain.RoleInfo" >
    insert into role_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baidu.base.domain.RoleInfo" >
    update role_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baidu.base.domain.RoleInfo" >
    update role_info
    set name = #{name,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  
  <select id="selectRoleAll" resultType="com.baidu.base.domain.ext.ExtRole">
    SELECT r.role_id role_id,r.name name,group_concat(m.name SEPARATOR ',') module_names FROM role_info r LEFT JOIN (role_module rm,module_info m) on r.role_id=rm.role_id
  AND rm.module_id=m.module_id GROUP BY r.role_id
  </select>

  <select id="selectModuleAll" resultMap="ModuleMap">
    SELECT * FROM module_info
  </select>

  <insert id="insertModule" parameterType="java.lang.String">
    INSERT INTO module_info(name) VALUES (#{value})
  </insert>

  <select id="selectRoleByName" resultMap="RoleMap" parameterType="java.lang.String">
    SELECT * FROM role_info WHERE name=#{value}
  </select>

  <select id="selectModuleByName" parameterType="java.lang.String" resultMap="ModuleMap">
     SELECT * FROM module_info WHERE name=#{value}
  </select>

  <insert id="insertRM" parameterType="com.baidu.base.domain.RoleModule">
    INSERT INTO role_module(role_id,module_id) VALUES (#{roleId},#{moduleId})
  </insert>

  <delete id="deleteModule_id" parameterType="java.lang.Integer" >
    delete from role_module
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>

  <select id="selectRoleByRoleId" resultType="com.baidu.base.domain.ext.ExtRole" parameterType="int">
    SELECT r.role_id role_id,r.name name,group_concat(m.name SEPARATOR ',') module_names FROM role_info r ,role_module rm,module_info m WHERE r.role_id=rm.role_id
       AND rm.module_id=m.module_id AND r.role_id=#{value}
  </select>
</mapper>